body{
                       
                 background-image: url("math_bg.png");
                            background-size: cover;

             }
             h1{
             	color: red;
             }
             img{
             	border: 5px solid red;
             }